a {
    text-decoration: none;
    color: #111;
}

main {
    text-align: center;
    padding-bottom: 75vh;
}

.carousel {
    border: 0.125rem solid black;
}

.carousel img {
    width: 1920px;
    height: 640px;
    
    max-width: 100%;
    min-width: 100%;

    max-width: auto;
    min-height: auto;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 15vh;
    font-weight: bold;
    color: #fff;
}