a {
    text-decoration: none;
    color: #111;
}

.sticky {
    top: 0;
    position: sticky;
    z-index: 10;
}

.promo-container {
    background: #D32B50;
    padding: 0.75rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.header-container {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
}

.header-container div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container a {
    color: #fff;
}

.logo-container {
    text-align: center;
}

.icons-container {
    justify-content: flex-end;
    gap: 1rem
}

nav {
    background-color: #fff;
    padding: 0.75rem;
    border-bottom: 0.125rem solid black;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

main {
    text-align: center;
    padding-bottom: 75vh;
}

.carousel {
    border: 0.125rem solid black;
}

.carousel img {
    width: 1920px;
    height: 640px;
    
    max-width: 100%;
    min-width: 100%;

    max-width: auto;
    min-height: auto;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 15vh;
    font-weight: bold;
    color: #fff;
}